
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #E4FFF9;
  color: #39403E;
}

body>header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em;
}

body>header>h3 {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

main h1:first-of-type {
  margin-top: .5em;
  text-align: center;
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: center;
}

a, button {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #D7F2FF;
  cursor: pointer;
  color: #39403E;
  margin: .5em;
  border: none;
  outline: none;
}

a:hover, button:hover {
  background-color: #C4E6E8;
}

a:active, button:active {
  background-color: #C4E8D6;
}

a:not([href]), button[disabled] {
  cursor: default;
  opacity: .5;
}

a:not([href]):hover, button[disabled]:hover {
  background-color: #D7F2FF;
}

a:not([href]):active, button[disabled]:active {
  background-color: #D7F2FF;
}

table {
  width: 100%;
  border-spacing: 1em;
}

table tr {

}

table tr>td,
table tr>th {
  text-align: center;
  padding: .5em;
  margin: .5em;
}

table a {
  font-size: 1rem;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

form label,
form textarea {
  font-size: 1.25em;
  width: 48%;
  max-width: 48%;
  margin-top: 1em;
}

form textarea {
  min-height: 5em;
}

form label {
  display: flex;
  align-items: center;
  justify-content: center;
}

form button {
  margin-top: 2em;
}

.cross-word {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #39403E;
}

.cross-word table {
  width: auto;
  border-spacing: 0;
  border: 1px solid #39403E;
}

.cross-word table td {
  position: relative;
  background-color: white;
  font-size: 3rem;
  height: 1em;
  width: 1em;
  border: 1px solid #39403E;
  padding: 0;
}

.cross-word table td>sup {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 30%;
}

.cross-word table td>input {
  width: 100%;
  height: 100%;
  font-size: 60%;
  text-align: center;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}

.cross-word table td.empty {
  background-color: #39403E;
}

.word-hints {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0 25%;
}

.word-hints ul {
  list-style: none;
  text-align: left;
  padding: 0;
}

.word-hints ul li:first-of-type {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  margin: .5em 0;
}
