
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #E4FFF9;
  color: #39403E;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: auto;
}

main>h1:first-of-type {
  margin-top: .5em;
  text-align: center;
  font-size: 3em;
}

nav {
  display: flex;
  justify-content: center;
}

a {
  font-family: 'Roboto Slab', serif;
  padding: .5em;
  font-size: 1.2em;
  text-decoration: none;
  background-color: #D7F2FF;
  cursor: pointer;
  color: #39403E;
  margin: .5em;
}

a:hover {
  background-color: #C4E6E8;
}

a:active {
  background-color: #C4E8D6;
}

a:not([href]) {
  cursor: default;
  opacity: .5;
}

a:not([href]):hover {
  background-color: #D7F2FF;
}

a:not([href]):active {
  background-color: #D7F2FF;
}

table {
  width: 100%;
  border-spacing: 1em;
}

table tr {

}

table tr>td,
table tr>th {
  text-align: center;
  padding: .5em;
  margin: .5em;
}

table a {
  font-size: 1rem;
}
